body {
    font-family: "Kodchasan", sans-serif;
    font-size: 16px;
    color: white;
}

ul {
    list-style: none;
}

h1 {
    padding: 4px;
    font-size: 32px;
    text-align: center;

}

.city {
    font-weight: bolder;
    margin-right: 7px;
    transition-duration: 0.4s;
}

.city:hover{
    font-size: larger;
}

.time {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.max-min {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}

.current-location {
    display: inline;
    width: 10%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 2px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.current-location:hover {
    background-color: #d3d3d3;
    box-shadow: 0 2px 2px 0 rgb(211, 211, 211), 0 2px 2px 0 rgb(211, 211, 211);
}

.search-form {
    width: 70%;
    display: inline;
}

.submit-box {
    border: 1px solid white;
    border-radius: 4px;
}

.submit-btn {
    display: inline-block;
    color: white;
    padding: none;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.4s;
}

.submit-btn:hover {
    background-color: #d3d3d3;
    box-shadow: 0 2px 2px 0 rgb(211, 211, 211), 0 2px 2px 0 rgb(211, 211, 211);
}

.sky {
    font-size: 16px;
    text-align: left;
    font-weight: bolder;
    margin: 10px 0px;
}

.weather-conditions {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
}

.forecast-weather {
    text-align: center;
    margin-top: 40px;
}

.open-source-link{
    font-size: 12px;
    color: black;
    line-height: 2;
}
.weather-app-wrapper {
    max-width: 800px;
    margin: 30px auto;
}

.weather-app {
    background-color: #8fc0bb;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
}

.city-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-conditions-wrapper {
    margin-top: 20px;
    padding-left: 60px;
}

.forecast-temperature-max {
    font-size: 14px;
}

.forecast-temperature-min {
    font-size: 14px;
    opacity: 0.7;
}